@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
#text{
    color: #fff;
    padding-left: 40px;
    font-size: 21px;
    position: fixed;
    width: 440px;
}
.section-1{
    width: 100%;
    height: 100vh;
    background: url("https://mahbubsiam30.github.io/login-form/bg6.jpg");
    background-position: center;
    background-size: cover;
}
.section1-change-bg{
    background: url("https://wallpapers.com/images/hd/nature-landscape-hd-usqznq19dscdjkf8.webp");
}
nav{
    display: flex;
    align-items: center;
    padding: 30px 7vw;
}
nav .nav-brand{
    color: #fff;
    font-size: 24px;
}
nav .navbar-content{
    margin-left: auto;
    display: flex;
    column-gap: 4em;
}
nav .navbar-content .nav-link{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
}
nav .navbar-content .btn{
    border: 1px solid #fff;
    padding: 14px 30px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 9;
    transition: all ease 0.4s;
}
nav .navbar-content .btn:hover{
    background-color: #fff;
    color: #000;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    width: 400px;
    height: 440px;
    border: 2px solid #f3aea4;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    color: #240d11;
    transform: scale(0);
    transition: all ease 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.close-icon{
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #491f26;
    right: 0;
    top: 0;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.close-icon i{
    font-size: 2rem;
    color: #fcc0b7;
}
#box .login-box{
    width: 100%;
    height: 100%;
    padding: 40px;
    text-align: center;
    transition: transform ease 0.5s;
}
#box .register-box{
    position: absolute;
    transform: translateX(400px);
    text-align: center;
    padding: 40px;
    width: 100%;
    height: 100%;
    transition: transform ease 0.5s;
}
#box form{
    margin-top: 20px;
}
#box form .input-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #41151c;
    position: relative;
    padding-top: 20px;
}
#box form .password,
#box form .email{
    margin-top: 20px;
}
#box form .input-box label{
    position: absolute;
    top: 40%;
    left: 5px;
    color: #491f26;
    font-weight: 600;
    transition: all linear 0.3s;
}
#box form .input-box input:focus~label,
#box form .input-box input:valid~label{
    transform: translateY(-100%);
}
#box form .input-box input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #2c1216 !important;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    z-index: 1;
    margin-left: 5px;
}
#box form .input-box i{
    color: #331318;
    margin-right: 10px;
    font-size: 20px;
}
#box form .password i{
    cursor: pointer;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 20px 0;
}
.remember-forgot a{
    color: #491f26;
    font-weight: 600;
}
.remember-me{
    color: #491f26;
    font-weight: 600;
}
.form-btn{
    background-color: #491f26;
    display: block;
    width: 100%;
    padding: 8px 0;
    border-radius: 5px;
    color: #fcf7f6;
}
.form-btn:hover{
    background-color: #3d1a20;
}
.register{
    font-size: 14px;
    padding-top: 24px;
    color: #240d11;
    font-weight: 600;
}
.register a{
    color: #2c1115;
    font-weight: 600;
}
.register a:hover,
.remember-forgot a:hover{
    color: #240d11;
    text-decoration: underline;
}
#section-1 .thank-box-row{
    position: absolute;
    top: -22%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all ease 0.5s;
}
#section-1 .thank-box-row .col{
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    padding: 80px 40px 40px;
    text-align: center;
}
#section-1 .thank-box-row .col img{
    width: 180px;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
}
#section-1 .thank-box-row .col h1{
    color: #292828;
    font-weight: 500;
    padding-bottom: 10px;
}
#section-1 .thank-box-row .col p{
    font-size: 14px;
}
#section-1 .thank-box-row .col .btn{
    background-color: #62df23;
    display: block;
    margin-top: 35px;
    padding: 8px 0;
    border-radius: 5px;
    box-shadow: 0 5px 7px 0 #b6b6b6;
    color: #292828;
    font-weight: 600;
    font-size: 17px;
}
#section-1 .thank-box-row .col .btn:hover{
    background-color: #57d11b;
}
.terms-condition{
    padding: 20px 0;
    font-size: 15px;
    color: #491f26;
    font-weight: 600;
    text-align: left;
}